<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsAccount">
        Profile: <b>{{ settingsAccount.login }}</b>
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Profile saved!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <div class="card card-block d-flex">
        <div class="card-body align-items-center d-flex justify-content-center">
          <img class="card-img-top" src="../../../content/images/Asset_1.png" />
        </div>
      </div>

      <form
        name="form"
        role="form"
        (ngSubmit)="save()"
        #settingsForm="ngForm"
        *ngIf="settingsAccount"
        novalidate
      >
        <!-- First Name field -->
        <div class="form-group">
          <label class="form-control-label" for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Your first name"
            [(ngModel)]="settingsAccount.firstName"
            minlength="1"
            maxlength="50"
            #firstNameInput="ngModel"
            required
          />
          <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
            <small
              class="form-text text-danger"
              *ngIf="firstNameInput.errors.required"
            >
              Your first name is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="firstNameInput.errors.minlength"
            >
              Your first name is required to be at least 1 character.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="firstNameInput.errors.maxlength"
            >
              Your first name cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <!-- Last Name field -->
        <div class="form-group">
          <label class="form-control-label" for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Your last name"
            [(ngModel)]="settingsAccount.lastName"
            minlength="1"
            maxlength="50"
            #lastNameInput="ngModel"
            required
          />
          <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
            <small
              class="form-text text-danger"
              *ngIf="lastNameInput.errors.required"
            >
              Your last name is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="lastNameInput.errors.minlength"
            >
              Your last name is required to be at least 1 character.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="lastNameInput.errors.maxlength"
            >
              Your last name cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <!-- Email field -->
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            [(ngModel)]="settingsAccount.email"
            minlength="5"
            maxlength="254"
            #emailInput="ngModel"
            email
            required
          />
          <div *ngIf="emailInput.dirty && emailInput.invalid">
            <small
              class="form-text text-danger"
              *ngIf="emailInput.errors.required"
            >
              Your email is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="emailInput.errors.email"
            >
              Your email is invalid.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="emailInput.errors.minlength"
            >
              Your email is required to be at least 5 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="emailInput.errors.maxlength"
            >
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <!-- DONE: add skills (strength, speed, stamina, cooking) fields -->
        <!-- Strength field -->
        <div class="form-group">
          <label class="form-control-label" for="strength">Strength: {{ settingsAccount.strength }}</label>
          <input
						[(ngModel)]="settingsAccount.strength"
						#strengthInput="ngModel"
            class="form-control-range"
            type="range"
            id="strength"
            name="strength"
            min="0"
            max="100"
          />
        </div>
        <!-- Speed field -->
        <div class="form-group">
          <label class="form-control-label" for="speed">Speed: {{ settingsAccount.speed }}</label>
          <input
						[(ngModel)]="settingsAccount.speed"
						#speedInput="ngModel"
            class="form-control-range"
            type="range"
            id="speed"
            name="speed"
            min="0"
            max="100"
          />
        </div>
        <!-- Stamina field -->
        <div class="form-group">
          <label class="form-control-label" for="stamina">Stamina: {{ settingsAccount.stamina }}</label>
          <input
						[(ngModel)]="settingsAccount.stamina"
						#staminaInput="ngModel"
            class="form-control-range"
            type="range"
            id="stamina"
            name="stamina"
            min="0"
            max="100"
            defaultValue="0"
          />
        </div>
        <!-- Cooking field -->
        <div class="form-group">
          <label class="form-control-label" for="cooking">Cooking: {{ settingsAccount.cooking }}</label>
          <input
						[(ngModel)]="settingsAccount.cooking"
						#cookingInput="ngModel"
            class="form-control-range"
            type="range"
            id="cooking"
            name="cooking"
            min="0"
            max="100"
          />
        </div>
        <!-- Combined field -->
        <div><p>Combined skills: {{ settingsAccount.strength + settingsAccount.speed + settingsAccount.stamina + settingsAccount.cooking }}</p></div>
        <button
          type="submit"
          [disabled]="settingsForm.form.invalid"
          class="btn btn-primary"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
