<div class="row text-center">
    <div class="col-md-4 align-left">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="'month'"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Previous
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Today
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="'month'"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:('monthViewTitle'):locale }}</h3>
    </div>

    <div class="col-md-4 align-right">
        <div>
            <div class="btn btn-primary"
                 *ngIf="showAddEvent"
                 (click)="addEvent()">Add event</div>
        </div>
    </div>
</div>
